body {
  overflow: auto;
}

.contact {
  position: absolute;
  left: 30%;
  padding-bottom: 75px;
  padding-top: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2em;
  color: #F5A9B3;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  margin-top: 2.5vh;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  color: #807E83;
  background-color: #FFFFFF;
  border: 1px solid #807E83;
  float: right;
  transition: 0.3s ease-in-out;
  padding: 10px 20px;
  float: right;
  margin-top: 20px;
}

button:hover {
  border: 1px solid #807E83;
  color: #FFFFFF;
  background-color: #807E83;
}

input {
  float: right;
  margin-top: 10px;
  width: 26vw;
  border: 1px solid #807E83;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-left: 5vw;
  width: 26vw;
  height: 12vh;
  border: 1px solid #807E83;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  color: #807E83;
}

@media screen and (max-width: 990px) {
  .rectangle {
    width: 25px;
    height: 25px;
  }
  h1 {
    font-size: 16px;
  }
  h2{
    font-size: 14px;
    width: 50%;
  }
  .nav-container img {
    width: 24px;
  }
  .nav-container {
    margin-left: -25%;
  }
  .portfolio p {
    margin-left: -40px!important;
  }
  .container {
    width: 25%;
    margin-top: 100px;
    left: 130px;
    font-size: 16px;
  }
  .container span {
    font-size: 12px!important;
  }
  .contact {
    width: 60%;
    left: 5%;
  }
}