.contact-form {
  position: relative;
  top: -10vw;
  left: 12vw;
}

.contact-form p {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #221D1C;
}

table {
  margin-top: 8vh;
}

label {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 24PX;
  margin-top: 2.5vh;
  color: #221D1C;
}

input, select {
  float: right;
  margin-top: 10px;
  width: 26vw;
  height: 32px;
  border: 1px solid #221D1C;
  border-radius: 19px;
  background-color: #F4F4F4;
  padding: 0px 20px;
  font-size: 16px;
}

textarea {
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 5vw;
  width: 26vw;
  height: 12vh;
  border: 1px solid #221D1C;
  border-radius: 20px;
  background-color: #F4F4F4;
  padding: 10px 20px;
  font-size: 16px;
}

button {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 24PX;
  color: #FFFFFE;
  background-color: #EAB9B2;
  border: 1px solid #FCFCFC;
  transition: 0.3s ease-in-out;
  padding: 8px 64px;
  border-radius: 198px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #E19392;
  color: #FCFCFC;
  background-color: #E19392;
}

.faq {
  position: relative;
  top: 0vw;
  left: 12vw;
  width: 64vw;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 40PX;
  color: #221D1C;
}

.question {
  font-size: 24px;
}

.answer {
  font-size: 16px;
  width: 80%;
}

@media screen and (max-width: 992px) {
  .contact-form {
    width: 64vw;
    top: -200px;
  }
  .contact-form p {
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
  button {
    font-size: 16px;
    padding: 8px 34px;
  }
  .faq {
    top: -30vw;
    font-size: 30px;
  }
  .question {
    font-size: 18px;
  }
  .answer {
    font-size: 16px;
  }
}