body {
  overflow: auto;
}

.contact {
  position: absolute;
  left: 32vw;
  padding-bottom: 75px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2em;
  color: #F5A9B3;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  margin-top: 2.5vh;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  color: #2c241b;
  background-color: #FFFFFF;
  border: 1px solid #2c241b;
  float: right;
  transition: 0.3s ease-in-out;
  padding: 10px 20px;
  float: right;
  margin-top: 20px;
}

button:hover {
  border: 1px solid #2c241b;
  color: #FFFFFF;
  background-color: #2c241b;
}

input {
  float: right;
  margin-top: 10px;
  width: 26vw;
  border: 1px solid #515456;
}

textarea {
  margin-top: 10px;
  margin-left: 5vw;
  width: 26vw;
  height: 12vh;
  border: 1px solid #515456;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: left;
}

@media screen and (max-width: 450px) {
  h3 {
    margin-left: -5vw;
  }
  table {
    margin-left: -11vw;
  }
  textarea {
    margin-left: 12vw;
  }
  h4 {
    margin-left: -8vw;
    width: 80%;
    text-align: center;
  }
  hr {
    margin-left: -29vw;
  }
  button {
    margin-right: 34vw;
  }
}