body{
  background-color: #FEF9F7;
}

.profileImage img{
  position: absolute;
  width: 150px;
  margin-left: 16vh;
  margin-top: 5vw;
}

.title{
  position: absolute;
  margin-top: 25vw;
  margin-left: 16vh;
  width: 89%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #884A45;
}

.links {
  position: absolute;
  margin-top: 56vw;
  margin-left: 16vh;
  width: 89%;
  font-family: 'Gravitas One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 31px;
  letter-spacing: 0.04em;
  color: #884A45;
}

.links a {
  right: 0;
  left: -10vh;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #884A45;
  text-decoration: none;
  padding: 40px;
  border-radius: 60px;
  width: 75%;
  margin-top: 100px;
}
  
.links a:hover {
  color: #221D1C;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.footer{
  position: relative;
  bottom: -101vw;
  background-color: #FAEEEB;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #884A45;
}

.footer a{
  text-decoration: none;
}

.footer img {
  display: block;
  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;
}

.sm-links img {
  display: inline-block;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .profileImage img {
    margin-left: 3vh;
  }
  .title {
    margin-left: 3vh;
  }
  .links {
    margin-left: 3vh;
  }
  .links a{
    margin-left: 12vh;
  }
  .footer {
    bottom: -141vw;
    height: 32vh;
  }
}