body {
  overflow: auto;
}

hr {
  width: 43%;
  margin-left: 0;
}

em {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #F5A9B3;
  text-align: center!important;
}

.project {
  position: relative;
  left: 19vw;
  padding-bottom: 55px;
}

.project img {
  max-width: 65%;
}

.floater > * {
  position: relative;
  left: 19vw;
  float:left;
  margin-right:5px;
}

.clearfix {
  *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.project p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  width: 70%;
  color: #515456;
}

.project li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 20px;
  color: #515456;
}

.project img {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #F5A9B3;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1em;
  text-align: left;
  width: 80%;
  color: #515456;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  width: 80%;
  color: #515456;
}

.project-links {
  top: 15px;
  position: relative;
  padding-bottom: 15px;
}

.project-links a {
  color: #FFFFFF !important;
  background: #F5A9B3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 10px 0 10px 0;
  display: inline-block;
  text-align: center;
  width: 90px;
  margin-right: 3%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-decoration: none;
}

.project-links a:hover {
  color: #2c241b !important;
  background-color: #FFFFFF!important;
  border: 1px solid #2c241b;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .project {
    left: 15vw;
    width: 90%;
  }
  hr {
    width: 50%;
  }

  .project img {
    width: 100%;
    margin-left: -40px;
  }
}