body {
  overflow-x: hidden;
  overflow-y: auto;
}

em {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #2E2D2B;
  text-align: center!important;
}

.project {
  position: relative;
  z-index: 0;
  left: 25vw;
  width: 50%;
  padding-bottom: 55px;
}

.floater > * {
  position: relative;
  left: 25vw;
  float:left;
  margin-right:5px;
}

.clearfix {
  *zoom: 1 /* for IE */
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.project p {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1em;
  width: 70%;
  color: #2E2D2B;
  line-height: 1.5em;
}

.project li {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 20px;
  color: #2E2D2B;
}

.project img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #E19392;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-size: 1em;
  text-align: left;
  width: 80%;
  color: #2E2D2B;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  width: 80%;
  color: #2E2D2B;
}

.project-links {
  top: 15px;
  position: relative;
  padding-bottom: 15px;
}

.project-links a {
  color: #FCFCFC !important;
  background: #E19392;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 10px 0 10px 0;
  display: inline-block;
  text-align: center;
  width: 90px;
  margin-right: 3%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-decoration: none;
}

.project a:hover {
  color: #E19392;
}

.project-links a:hover {
  color: #E19392 !important;
  background-color: #FFFFFF!important;
  border: 1px solid #2E2D2B;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .project {
    left: 10vw;
    width: 100%;
  }
  hr {
    width: 50%;
  }

  .project img {
    width: 100%;
    margin-left: -40px;
  }
}