html,body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFE;
  background-repeat: repeat;
  font-family: 'Helvetica', 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFE;
  background: #EAB9B2;
}

::selection {
  color: #FFFFFE;
  background: #EAB9B2;
}

.sidebar {
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0; 
  background-color: #FAFAFA;
  width: 100px;
  height: 100%;
}

.sidebar-sm {
  margin-top: 16vw;
}

.sidebar a img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  padding-bottom: 20px;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: #221D1C;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2%;
}

.header li a:hover,
.header .menu-btn:hover {
  text-decoration: underline;
}

.header img {
  display: block;
  float: left;
  padding: 30px 12vw;
  height: 114px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #221D1C;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #221D1C;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 450px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.title {
  font-family: "Helvetica Neue";
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 0.02em;
  color: #221D1C;
  margin-top: 27vh;
  margin-left: 12vw;
  width: 80%;
  height: 35vh;
}

.title a {
  background-color: #221D1C;
  border-radius: 35px;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 24px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFE;
}

.title a:hover {
  background-color: #EAB9B2;
  color: #FFFFFE;
  transition: all .2s ease-in-out;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 50px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header img {
    display: block;
    float: left;
    padding: 30px 12vw;
    height: 114px;
  }  
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.img_container {
  width: 75vw;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vw;
}

.main-img {
  width: 50%;
  height: 100%;
  background-color: #F4F4F4;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.top-img img, .bottom-img img {
  width: 100%;
  height: 100%;
}

.stacked-div {
    width: 50%;
    height: 100%;
}

.top-img,
.bottom-img {
    width: 100%;
    height: calc(50% - 5px);
    background-color: #F4F4F4;
}

.top-img {
  margin-bottom: 10px;
}

.mission {
  width: 50%;
  height: 100%;
  margin-top: 0px;
  font-family: "Helvetica Neue";
  font-weight: 800;
  font-size: 54px;
  line-height: 66px;
  color: #221D1C;
  margin-left: 12vw;
}

.mission-details {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #221D1C;
}

.offers {
  background-color: #221D1C;
  font-family: "Helvetica Neue";
  font-weight: 800;
  font-size: 54px;
  color: #F4F4F4;
  padding-bottom: 3vw;
}

.offers p {
  margin-left: 15vw;
  padding-top: 3vw;
}

.carousel {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Helvetica Neue";
  font-weight: 800;
  font-size: 54px;
  letter-spacing: 0.02em;
  margin-top: 4vw;
}

ul.slides {
  display: block;
  position: relative;
  height: 37vh;
  margin: 4VW;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}

.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 80%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image p {
  width: auto;
  min-width: 100%;
  height: 100%;
  margin-left: 7vw;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 147.78%;
  text-align: center;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  color: #221D1C;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  opacity: 0.5;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.jam {
  background-color: #221D1C;
  font-family: "Helvetica Neue";
  font-weight: 800;
  font-size: 54px;
  color: #F4F4F4;
  padding-bottom: 3vw;
}

.jam p {
  margin-left: 12vw;
  padding-top: 3vw;
  width: 80%;
}

.jam a {
  color: #EAB9B2;
}

.footer{
  position: relative;
  bottom: 0vw;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #221D1C;
  padding: 15px;
}

.sm-links img {
  display: inline-block;
  height: 100%;
}

.footer a{
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .title {
    font-size: 32px;
    margin-top: 19vh;
  }

.title a {
  font-size: 16px;
  padding: 8px 21px;
}
  .img_container {
    margin-top: 0vh;
    height: 49%;
    width: 123%;
}
  }
  .columns .column .two-column{
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
  .mission {
    font-size: 46px;
    width: 100%;
    margin-left: 0;
  }
  .offers {
    font-size: 46px;
  }
  .carousel {
    font-size: 46px;
  }
  .jam {
    font-size: 41px
  }
  .jam p {
    width: 80%;
  }
  ul.slides {
    height: 31vh;
  }
  .carousel-dots {
    top: 40vh;
  }
  .carousel-dot {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 680px) {
	.columns .column .two-column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

* { box-sizing: border-box; }

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 93%;
	margin: 20px auto;
  font-size: 20px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid #FAFAFA;
	margin: 2px;
	padding: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 0;
  text-align: center;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

.column p {
  margin-left: 0;
}

.two-column {
	flex: 1;
	margin: 12px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

@media (min-width: 1200px) {
  .carousel-dots {
    top: 26vh;
  }
}