html,body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFE;
  background-repeat: repeat;
  font-family: 'Helvetica', 'Lato', sans-serif;
}


::-moz-selection { /* Code for Firefox */
  color: #FFFFFE;
  background: #EAB9B2;
}

::selection {
  color: #FFFFFE;
  background: #EAB9B2;
}

