html,body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FCFCFC;
  background-repeat: repeat;
}

::-moz-selection { /* Code for Firefox */
  color: #884A45;
  background: #EAB9B2;
}

::selection {
  color: #884A45;
  background: #EAB9B2;
}

a:hover {
  text-decoration: none;
}

.links a {
  float: right;
  z-index: 9;
  top: 32px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2D2B;
}

.links a:hover {
  color: #EAB9B2 !important;
}

.title {
  text-align: left;
  position: relative;
  left: 7vw;
  top: 185px;
}

.title a {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.04em;
  color: #2E2D2B;
}

.portfolio {
  position: relative;
  top: 14vw;
  width: 100%;
  height: 118vh;
  background-color: #FAEEEB;
}

.portfolio p {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  left: 7vw;
  top: 5vw;
}

.portfolio-item {
  display: inline-block;
  position: relative;
  margin-top: 204px;
  margin-left: 44px;
  background-color:#FCFCFC;
  width: 26vw;
  /* height: 62vh; */
  padding-bottom: 50px;
}

.portfolio-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 85%;
}

.portfolio-item a {
  z-index: 9;
  text-decoration: none;
  text-transform: none;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #2E2D2B;
}

.portfolio-text {
  text-align: left;
  width: 41%;
  margin-left: 2vw;
}

.portfolio-text a:hover {
  color: #EAB9B2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.contact {
  position: relative;
  top: 43vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.04em;
  color: #2E2D2B;
  left: 135px;
  padding-bottom: 158px;
}

.contact a {
  color: #2E2D2B;
}

.contact img{
  display: inline-block;
  height: 32px;
}

.contact p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #EAB9B2;
}

.footer {
  position: fixed;
  left: 10px;
  bottom: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-align: left;
  z-index: 99;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #97A3AE;
}

@media screen and (max-width: 600px) {
  .title {
    left: 4%;
  }
  .title a {
    font-size: 24px;
    line-height: 32px;
  }
  .portfolio p {
    font-size: 24px;
  }
  .links {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    left: 8%;
  }
  .title a {
    font-size: 36px;
    line-height: 36px;
  }
  .portfolio p {
    font-size: 24px;
  }
  .links {
    font-size: 10px;
  }
}

  @media screen and (max-width: 992px) {
    .title {
      left: 8%;
      width: 80%;
    }
    .links a {
      left: 5%;
      font-size: 10px;
    }
    .portfolio {
      height: 212vh;
    }
    .portfolio p {
      font-size: 36px;
      margin-top: -25%;
      top: 15vw;
    }
    .portfolio-text {
      margin-left: 5vw;
      margin-top: 3vw;
      font-size: 16px;
      width: 45%;
    }
    .portfolio-item {
      width: 67vw;
      margin-left: 62px!important;
      margin-top: 19vw;
      /* height: 41vh; */
    }
    .portfolio-item a {
      line-height: 24px;
      font-size: 16px;
      margin-left: 0px!important;
    }
    .contact {
      left: 8%;
      font-size: 36px;
      top: 500px;
    }
    .links {
      font-size: 10px;
    }
  }

}
