.portfolio-item {
    position: relative;
    top: -10vw;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40PX;
    color: #221D1C;
    padding-bottom: 18px;
}

.portfolio-item p {
    position: relative;
    left: 12vw;
    top: 2vw;
    font-size: 16px;
}

.portfolio-item a {
    text-decoration: none;
    position: relative;
    left: 12vw;
    top: 2vw;
}

.portfolio-item a:hover {
    text-decoration: underline;
}

.portfolio-item img {
    max-width: 80%;
}

  @media screen and (max-width: 992px) {
    .portfolio-item {
        top: -30vw;
        font-size: 24px;
    }
    .portfolio-item p {
        font-size: 16px!important;
        width: 75%;
    }
    .portfolio-item img {
        width: 76vw;
    }
  }