body {
  overflow: auto;
}

hr {
  width: 23%;
  margin-left: 0;
}

.about {
  position: absolute;
  left: 25vw;
  padding-bottom: 75px;
}

.about p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  width: 70%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-weight: 700;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1em;
  text-align: left;
  width: 80%;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  text-align: left;
  width: 80%;
}

.about-links {
  top: 15px;
  position: relative;
  padding-bottom: 15px;
}

.about-links a {
  color: #FFFFFF !important;
  background: #adc8e1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 10px 0 10px 0;
  display: inline-block;
  text-align: center;
  width: 90px;
  margin-right: 3%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-decoration: none;
}

.about-links a:hover {
  color: #2c241b !important;
  background-color: #FFFFFF!important;
  border: 1px solid #2c241b;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .about {
    left: 15vw;
    width: 90%;
  }
  hr {
    width: 50%;
  }
}